# Arquivo com senha do banco de dados
config/database.php

# Dependências do PHP (instaladas pelo Composer)
vendor/

# Arquivos de sistema do Mac
.DS_Store

# Arquivos de sistema do Windows
Thumbs.db

# Logs de erro
*.log

# Arquivos de cache
*.cache

# Editores de código (configurações locais)
.vscode/
.idea/X